<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="favicon icon" href="https://arweave.app/arweave.svg">
	<title> <%- VITE_TITLE %> </title>
	<meta property="og:title" content="<%- VITE_TITLE %>">
	<meta name="twitter:title" content="<%- VITE_TITLE %>">
	<meta name="description" content="<%- VITE_DESCRIPTION %>">
	<meta property="og:description" content="<%- VITE_DESCRIPTION %>">
	<meta name="twitter:description" content="<%- VITE_DESCRIPTION %>">
	<meta property="og:image" content="https://arweave.app/arweaveViewLandscape.png">
	<meta name="twitter:image" content="https://arweave.app/arweaveViewLandscape.png">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<script type="module">
		import { Buffer } from 'buffer'
		
		if (window.global === undefined) {
			window.global = window
			window.Buffer = Buffer
		}
	</script>
</head>

<body>
	<noscript><strong>JavaScript Disabled</strong></noscript>
	<div id="app"></div>
	<script type="module" src="/src/main.ts"></script>
</body>

</html>