.test-left[data-v-24f3eb40]{height:180vh;display:flex;align-items:center;justify-content:center;border:1px solid #222}.test-right[data-v-24f3eb40]{height:160vh;display:flex;align-items:center;justify-content:center;border:1px solid #222}
