.slide-up-enter-active, .slide-down-enter-active, .slide-left-enter-active, .slide-right-enter-active {
	transition: 0.36s cubic-bezier(0.22, 1, 0.36, 1);
}

.slide-up-leave-active, .slide-down-leave-active, .slide-left-leave-active, .slide-right-leave-active {
	transition: 0.08s ease;
}

.slide-up-enter-from, .slide-down-leave-to {
	opacity: 0 !important;
	transform: translate(0, 10px);
}

.slide-left-enter-from, .slide-right-leave-to, [dir="rtl"] .slide-left-leave-to, [dir="rtl"] .slide-right-enter-from {
	opacity: 0 !important;
	transform: translate(10px, 0);
}

.slide-up-leave-to, .slide-down-enter-from {
	opacity: 0 !important;
	transform: translate(0, -10px);
}

.slide-left-leave-to, .slide-right-enter-from, [dir="rtl"] .slide-left-enter-from, [dir="rtl"] .slide-right-leave-to {
	opacity: 0 !important;
	transform: translate(-10px, 0);
}

.fade-enter-active, .fade-leave-active {
	transition: opacity 0.4s ease;
}

.fade-enter-from, .fade-leave-to {
	opacity: 0 !important;
}

.fade-fast-enter-active, .fade-fast-leave-active {
	transition: opacity 0.1s ease;
}

.fade-fast-enter-from, .fade-fast-leave-to {
	opacity: 0 !important;
}

.fade-list-item {
	transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1), 
		opacity 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-list-enter-from, .fade-list-leave-to {
	opacity: 0 !important;
	transform: translateY(-10px);
}

.fade-list-leave-active {
	position: absolute !important;
}

.fade-list-rise-enter-from, .fade-list-rise-leave-to {
	opacity: 0 !important;
	transform: translateY(10px);
}

.fade-list-rise-leave-active {
	position: absolute !important;
}