:root {
	--toolbar-size: 64px;
	--toolbar-spacing: 10px;
	--spacing-default: 20px;
	--spacing: var(--spacing-default);
	--column-width-small: 600px;
	--column-width: 700px;
	--column-large-width: 1000px;
	--background: #151515;
	--background2: #181818;
	--background3: #262626;
	--border: #222;
	--border2: #333;
	--border3: #555;
	--border-radius: 8px;
	--border-radius2: 12px;
	--border-radius3: 12px;
	--element-secondary: #bbb;
	--element-secondary-opacity: 0.75;
	--element-disabled-opacity: 0.5;
	--red: #BF616A;
	--orange: #D08770;
	--yellow: #EBCB8B;
	--green: #A3BE8C;
	--purple: #B48EAD;
	--grey: #81A1C1;
	--blue: #5E81AC;
}

@media (max-width: 500px) {
	:root {
		--spacing: 16px;
	}
}

@media (max-width: 400px) {
	:root {
		--spacing: 12px;
	}
}

html {
	box-sizing: border-box;
	background-color: #0f0f0f;
}

body {
	margin: 0;
	padding: 0;
	line-height: 2;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

input {
	border-radius: inherit;
}

button {
	color: inherit;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
	cursor: pointer;
	line-height: inherit;
	text-align: inherit;
}

button:disabled {
	cursor: default;
}

a {
	color: var(--orange);
}

a.reset {
	color: inherit;
	text-decoration: none;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #eee;
}

#viewport {
	pointer-events: none;
}

#viewport>* {
	pointer-events: all;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.card {
	padding: var(--spacing);
	background: var(--background2);
	border-radius: var(--border-radius);
	border: 0.5px solid var(--border);
	position: relative;
}

.flex-row {
	display: flex;
	/* gap: var(--spacing); */
}

.flex-row>*+* {
	margin-inline-start: var(--spacing);
}

.flex-column {
	display: flex;
	flex-direction: column;
	/* gap: var(--spacing); */
}

.flex-column>*+* {
	margin-block-start: var(--spacing);
}

.input-box {
	background: #ffffff06;
	border: 0.5px solid var(--border2);
	border-radius: var(--border-radius);
	outline: none;
	transition: 0.3s ease;
}

.input-box.focus, .input-box:focus {
	background: #ffffff08;
	box-shadow: 0 0 10px 0 #ffffff11;
	border: 0.5px solid var(--border3);
}

.secondary-text {
	font-size: 0.75em;
	color: var(--element-secondary);
}

.no-scrollbar {
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-select {
	user-select: none;
}

::selection {
	background: #ffffff22;
}

.styleScroll ::-webkit-scrollbar {
	background-color: var(--background2);
	color: #aaaaaa;
}

.styleScroll ::-webkit-scrollbar-thumb {
	background-color: var(--border);
}

.styleScroll ::-webkit-scrollbar-thumb:hover {
	background-color: #444;
}

.styleScroll ::-webkit-scrollbar-thumb:active {
	background-color: #333;
}

.styleScroll ::-webkit-scrollbar-corner {
	background-color: #181a1b;
}