:root {
	--spacing: 24px;
	--background: #151515;
	--background2: #181818;
	--background3: #262626;
	--border: #222;
	--border-radius: 8px;
	--border-radius2: 12px;
	--border-radius3: 12px;
	--element-secondary: #bbb;
	--element-secondary-opacity: 0.75;
	--element-disabled-opacity: 0.5;
}

html {
	box-sizing: border-box;
	background-color: #0f0f0f;
	background-image: url("~@/assets/background.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	margin: 0;
	padding: 0;
	line-height: 2;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

button {
	color: inherit;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
	cursor: pointer;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #eee;
}

*, *:before, *:after {
	box-sizing: inherit;
}

input:not([disabled]) {
	overflow: hidden;
	text-overflow: ellipsis;
}

.card {
	padding: var(--spacing);
	background: var(--background2);
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 0.5px var(--border);
	position: relative;
}

.input-box {
	background: #ffffff06;
	box-shadow: 0 0 0 0.5px #ffffff33;
	border-radius: var(--border-radius);
}

.input-box.focus {
	background: #ffffff08;
	box-shadow: 0 0 0 0.5px #ffffff88, 0 0 10px 0 #ffffff11;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-select {
	user-select: none;
}

::selection {
	background: #ffffff22;
}

.styleScroll ::-webkit-scrollbar {
	background-color: var(--background2);
	color: #aaaaaa;
}

.styleScroll ::-webkit-scrollbar-thumb {
	background-color: var(--border);
}

.styleScroll ::-webkit-scrollbar-thumb:hover {
	background-color: #444;
}

.styleScroll ::-webkit-scrollbar-thumb:active {
	background-color: #333;
}

.styleScroll ::-webkit-scrollbar-corner {
	background-color: #181a1b;
}